In [1]:
import pandas as pd
import numpy as np

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
train_df.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income_>50K         int64
dtype: object

In [2]:
test_df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
0,39,Self-emp-not-inc,327120,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Portugal
1,32,Private,123253,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,42,United-States
2,47,Private,232628,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States
3,19,Private,374262,12th,8,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,20,United-States
4,46,Self-emp-not-inc,311231,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States

In [3]:
train_df.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,income_>50K
count,43957.000000,4.395700e+04,43957.000000,43957.000000,43957.000000,43957.000000,43957.000000
mean,38.617149,1.896730e+05,10.074118,1093.559797,88.246491,40.407694,0.239279
std,13.734401,1.058215e+05,2.575092,7570.536063,404.588410,12.400303,0.426648
min,17.000000,1.349200e+04,1.000000,0.000000,0.000000,1.000000,0.000000
25%,28.000000,1.174960e+05,9.000000,0.000000,0.000000,40.000000,0.000000
50%,37.000000,1.781000e+05,10.000000,0.000000,0.000000,40.000000,0.000000
75%,48.000000,2.376710e+05,12.000000,0.000000,0.000000,45.000000,0.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000,1.000000

In [4]:
def convertcat_to_intVar(df):
    # copy dataframe for preliminary decision tree
    df_fi = df
    # Selecting Columns whose values are categorical (in practice, the strings)
    col_categorical = df_fi.select_dtypes(include= ['object']).columns
    # Converting data-type as 'category;
    for col_name in col_categorical:
        df_fi[col_name] = df_fi[col_name].astype('category')
    #Converting categorical entries to integers
    df_fi[col_categorical] = df_fi[col_categorical].apply(lambda x: x.cat.codes)
        
    return df_fi

In [5]:
train_df.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income_>50K         int64
dtype: object

In [6]:
train_df['train'] = 1
test_df['train'] = 0
combined = pd.concat([train_df, test_df])
df_fi = convertcat_to_intVar(combined)
df_fi.dtypes

c:\programdata\miniconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

age                  int64
capital-gain         int64
capital-loss         int64
education             int8
educational-num      int64
fnlwgt               int64
gender                int8
hours-per-week       int64
income_>50K        float64
marital-status        int8
native-country        int8
occupation            int8
race                  int8
relationship          int8
train                int64
workclass             int8
dtype: object

In [7]:
train_df = df_fi[df_fi['train']==1]
test_df = df_fi[df_fi['train']==0]

In [8]:
train_df.dtypes

age                  int64
capital-gain         int64
capital-loss         int64
education             int8
educational-num      int64
fnlwgt               int64
gender                int8
hours-per-week       int64
income_>50K        float64
marital-status        int8
native-country        int8
occupation            int8
race                  int8
relationship          int8
train                int64
workclass             int8
dtype: object

In [9]:
train_df.drop('train', axis=1, inplace=True) 
test_df.drop('train', axis=1, inplace=True)

c:\programdata\miniconda3\lib\site-packages\pandas\core\frame.py:3930: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [10]:
train_df.head()

,age,capital-gain,capital-loss,education,educational-num,fnlwgt,gender,hours-per-week,income_>50K,marital-status,native-country,occupation,race,relationship,workclass
0,67,99999,0,10,16,366425,1,60,1.0,0,38,3,4,1,3
1,17,0,0,2,8,244602,1,15,0.0,4,38,7,4,3,3
2,31,0,0,9,13,174201,1,40,1.0,2,38,3,4,0,3
3,58,0,0,5,4,110199,1,40,0.0,2,38,13,4,0,6
4,25,0,0,15,10,149248,1,40,0.0,4,38,7,2,1,6

In [11]:
X = train_df.loc[:, train_df.columns != 'income_>50K']
y = train_df.loc[:, train_df.columns == 'income_>50K']

In [13]:
test_df.dtypes

age                  int64
capital-gain         int64
capital-loss         int64
education             int8
educational-num      int64
fnlwgt               int64
gender                int8
hours-per-week       int64
income_>50K        float64
marital-status        int8
native-country        int8
occupation            int8
race                  int8
relationship          int8
workclass             int8
dtype: object

In [12]:
test_X = test_df.loc[:, test_df.columns != 'income_>50K']
test_X.head()

,age,capital-gain,capital-loss,education,educational-num,fnlwgt,gender,hours-per-week,marital-status,native-country,occupation,race,relationship,workclass
0,39,0,0,11,9,327120,1,40,2,31,2,4,0,5
1,32,0,0,7,12,123253,1,42,2,38,2,4,0,3
2,47,0,0,11,9,232628,1,40,2,38,2,2,0,3
3,19,0,0,2,8,374262,1,20,4,38,5,4,3,3
4,46,0,0,11,9,311231,1,40,2,38,4,4,0,5

In [62]:
from sklearn.model_selection import train_test_split
trainX, testX, trainY, testY = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [63]:
from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score, accuracy_score, classification_report, roc_curve, precision_recall_curve
from sklearn.linear_model import LogisticRegressionCV
log_cfl = LogisticRegressionCV(Cs=[0.01,0.1,1,10,100], scoring='average_precision',verbose=0,
                             max_iter=1000,random_state=4092)
log_cfl.fit(trainX,trainY)
print("The best parameter C is",log_cfl.C_[0])

c:\programdata\miniconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\programdata\miniconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

The best parameter C is 100.0

In [117]:
testY.dtypes

income_>50K    float64
dtype: object

In [64]:
# Logistic regression after tuning parameters
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, average_precision_score
log_cfl = LogisticRegression(C=100.0)

log_cfl.fit(trainX, trainY)
y_pred_lr = log_cfl.predict(testX)
y_score = log_cfl.decision_function(testX)  
probabilities = log_cfl.predict_proba(testX)
print('AUPRC = {}'.format(average_precision_score(testY, probabilities[:, 1])))
# Confusion maxtrix & metrics
cm = confusion_matrix(testY, y_pred_lr)
print(cm)

c:\programdata\miniconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\programdata\miniconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

AUPRC = 0.5287357155947622
[[6337  319]
 [1541  595]]

In [65]:
from xgboost.sklearn import XGBClassifier
weights = (y == 0).sum() / (1.0 * (y == 1).sum())
clf_xgb = XGBClassifier(max_depth=7, learning_rate=0.05, n_estimators=400, 
                                objective="binary:hinge", booster='gbtree', 
                                n_jobs=-1, nthread=None, gamma=0, min_child_weight=1, max_delta_step=0, 
                                subsample=1, colsample_bytree=1, colsample_bylevel=1, reg_alpha=0, reg_lambda=1, 
                                scale_pos_weight=1, base_score=0.5, random_state=42)

probabilities = clf_xgb.fit(trainX, trainY).predict_proba(testX)
print('AUPRC = {}'.format(average_precision_score(testY, probabilities[:, 1])))
Y_pred = clf_xgb.predict(testX) 
xgb_cf = confusion_matrix(testY, Y_pred)
print(xgb_cf)

c:\programdata\miniconda3\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\programdata\miniconda3\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

AUPRC = 0.5951653691923737
[[6293  363]
 [ 763 1373]]

In [66]:
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
rf_cfl = RandomForestClassifier(n_estimators = 200,
                                max_features = 3, 
                                 min_samples_leaf = 2, 
                                 min_samples_split = 10, 
                                 n_jobs = -1,
                                random_state = 42)

rf_cfl.fit(trainX, trainY)
y_pred_rf = rf_cfl.predict(testX)
y_score_rf = rf_cfl.predict_proba(testX)[:,1]
print('AUPRC = {}'.format(average_precision_score(testY, y_score_rf)))

# Confusion maxtrix
cm_rf = confusion_matrix(testY, y_pred_rf)
print(cm_rf)

c:\programdata\miniconda3\lib\site-packages\ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  if __name__ == '__main__':

AUPRC = 0.8065831591212591
[[6291  365]
 [ 847 1289]]

In [69]:
test_X.shape

(899, 14)

In [70]:
test_y = rf_cfl.predict(test_X)

In [82]:
test_y[1]

0.0

In [76]:
output = pd.DataFrame(test_X, test_y)

In [83]:
output.to_csv('output.csv')

In [84]:
import h2o
from h2o.automl import H2OAutoML
h2o.init(max_mem_size='8G')

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 25.201-b09, mixed mode)
  Starting server from c:\programdata\miniconda3\lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\SUVRAL~1\AppData\Local\Temp\tmp5u6mkmq3
  JVM stdout: C:\Users\SUVRAL~1\AppData\Local\Temp\tmp5u6mkmq3\h2o_Suvralipi_started_from_python.out
  JVM stderr: C:\Users\SUVRAL~1\AppData\Local\Temp\tmp5u6mkmq3\h2o_Suvralipi_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ---------------------------------------------------------
H2O cluster uptime:         07 secs
H2O cluster timezone:       Asia/Kolkata
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.0.3
H2O cluster version age:    17 days
H2O cluster name:           H2O_from_python_Suvralipi_ysq5tk
H2O cluster total nodes:    1
H2O cluster free memory:    7.111 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.0 final
--------------------------  ---------------------------------------------------------

In [85]:
train_h = h2o.H2OFrame(train_df)
train_h.describe()

Parse progress: |█████████████████████████████████████████████████████████| 100%
Rows:43957
Cols:15

,age,capital-gain,capital-loss,education,educational-num,fnlwgt,gender,hours-per-week,income_>50K,marital-status,native-country,occupation,race,relationship,workclass
type,int,int,int,int,int,int,int,int,int,int,int,int,int,int,int
mins,17.0,0.0,0.0,0.0,1.0,13492.0,0.0,1.0,0.0,0.0,-1.0,-1.0,0.0,0.0,-1.0
mean,38.61714857701821,1093.5597970744143,88.24649088882322,10.28425506745232,10.074117887935975,189673.004367905,0.668835452828901,40.40769388265799,0.23927929567531905,2.61792206019519,35.74663876060679,5.58475328161612,3.667584230042999,1.4425006256114,2.87028232135954
maxs,90.0,99999.0,4356.0,15.0,16.0,1490400.0,1.0,99.0,1.0,6.0,40.0,13.0,4.0,5.0,7.0
sigma,13.734400969233434,7570.536063135775,404.5884102355777,3.8791028726557695,2.575091755705551,105821.52256032616,0.4706374707511276,12.400302863252639,0.42664839786741793,1.5069982726652564,7.765527943393374,4.227081798444758,0.8462786590072753,1.6013541931349167,1.459078334695404
zeros,0,40330,41884,1250,0,0,14557,0,33439,5971,24,5004,421,17749,1284
missing,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
0,67.0,99999.0,0.0,10.0,16.0,366425.0,1.0,60.0,1.0,0.0,38.0,3.0,4.0,1.0,3.0
1,17.0,0.0,0.0,2.0,8.0,244602.0,1.0,15.0,0.0,4.0,38.0,7.0,4.0,3.0,3.0
2,31.0,0.0,0.0,9.0,13.0,174201.0,1.0,40.0,1.0,2.0,38.0,3.0,4.0,0.0,3.0
3,58.0,0.0,0.0,5.0,4.0,110199.0,1.0,40.0,0.0,2.0,38.0,13.0,4.0,0.0,6.0
4,25.0,0.0,0.0,15.0,10.0,149248.0,1.0,40.0,0.0,4.0,38.0,7.0,2.0,1.0,6.0
5,59.0,0.0,0.0,11.0,9.0,105363.0,1.0,40.0,0.0,4.0,38.0,0.0,4.0,3.0,6.0
6,70.0,2653.0,0.0,6.0,5.0,216390.0,0.0,40.0,0.0,2.0,38.0,6.0,4.0,5.0,3.0
7,35.0,0.0,0.0,9.0,13.0,361888.0,1.0,60.0,0.0,2.0,23.0,11.0,4.0,0.0,5.0
8,28.0,0.0,0.0,11.0,9.0,74784.0,1.0,50.0,0.0,4.0,38.0,5.0,4.0,1.0,3.0
9,28.0,4386.0,0.0,11.0,9.0,118089.0,1.0,45.0,1.0,2.0,38.0,3.0,4.0,0.0,3.0

In [150]:
# Split the data into Train/Test/Validation with Train having 70% and test and validation 15% each
train,test = train_h.split_frame(ratios=[.8])

In [163]:
y = "income_>50K"
x_train = train.columns
x_train.remove(y)

aml = H2OAutoML(max_runtime_secs=500, seed = 1)
aml.train(x = x_train, y = y, training_frame = train)

AutoML progress: |
00:55:56.731: AutoML: XGBoost is not available; skipping it.

████████████████████████████████████████████████████████| 100%

In [164]:
lb = aml.leaderboard
lb.head()

model_id,mean_residual_deviance,rmse,mse,mae,rmsle
StackedEnsemble_AllModels_AutoML_20200223_005556,0.0885401,0.297557,0.0885401,0.18511,0.209105
StackedEnsemble_BestOfFamily_AutoML_20200223_005556,0.0889426,0.298232,0.0889426,0.186162,0.209603
GBM_3_AutoML_20200223_005556,0.0889652,0.29827,0.0889652,0.18673,0.209508
GBM_2_AutoML_20200223_005556,0.0892339,0.29872,0.0892339,0.188491,0.209811
GBM_4_AutoML_20200223_005556,0.0895575,0.299262,0.0895575,0.184872,0.21036
GBM_1_AutoML_20200223_005556,0.0896654,0.299442,0.0896654,0.189938,0.210439
GBM_grid__1_AutoML_20200223_005556_model_1,0.0897711,0.299618,0.0897711,0.18615,0.210258
GBM_5_AutoML_20200223_005556,0.091695,0.302812,0.091695,0.19093,0.213051
GBM_grid__1_AutoML_20200223_005556_model_3,0.0950493,0.308301,0.0950493,0.207833,0.216264
XRT_1_AutoML_20200223_005556,0.095956,0.309768,0.095956,0.192965,0.218114

In [165]:
perf = aml.leader.model_performance(test)
print(perf)

ModelMetricsRegressionGLM: stackedensemble
** Reported on test data. **

MSE: 0.0888665744258138
RMSE: 0.298104972158825
MAE: 0.1846233528701536
RMSLE: 0.20872525746949266
R^2: 0.5208787395572476
Mean Residual Deviance: 0.0888665744258138
Null degrees of freedom: 8662
Residual degrees of freedom: 8658
Null deviance: 1607.403014370682
Residual deviance: 769.851134250825
AIC: 3626.704915110747

In [166]:
pred = aml.predict(test)

stackedensemble prediction progress: |████████████████████████████████████| 100%

In [167]:
df = pred.as_data_frame()

In [181]:
df.loc[df['predict'] > 0.0,'predict'] = 1.0
df.loc[df['predict'] <= 0.0,'predict'] = 0.0

In [182]:
testY = test['income_>50K'].as_data_frame()
testY.head()

   income_>50K
0            1
1            0
2            0
3            0
4            0

In [183]:
# Confusion maxtrix
cm_rf = confusion_matrix(testY, df)
print(cm_rf)

[[6350  182]
 [ 978 1153]]

In [184]:
precision = precision_score(testY, df)
recall = recall_score(testY,df)
accuracy = accuracy_score(testY, df)
print(precision, recall)
print(accuracy)

0.8636704119850187 0.5410605349601126
0.8660971949671015

In [143]:
y.shape

(43957, 1)

In [161]:
#test_df.drop('income_>50K', axis=1, inplace=True)

In [186]:
test_h = h2o.H2OFrame(test_df)
predY = aml.predict(test_h)
dfY = predY.as_data_frame()
dfY.loc[dfY['predict'] > 0.5, 'predict'] = 1.0
dfY.loc[dfY['predict'] <= 0.5, 'predict'] = 0.0
dfY.to_csv('H2o_predict3.csv')

Parse progress: |█████████████████████████████████████████████████████████| 100%
stackedensemble prediction progress: |████████████████████████████████████| 100%

In [16]:
X.shape

(43957, 14)

In [17]:

# Binary Classification with Sonar Dataset: Standardized
from pandas import read_csv
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

# baseline model
def create_baseline():
	# create model
	model = Sequential()
	model.add(Dense(60, input_dim=14, activation='relu'))
	model.add(Dense(1, activation='sigmoid'))
	# Compile model
	model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
	return model

# evaluate baseline model with standardized dataset
estimators = []
estimators.append(('standardize', StandardScaler()))
estimators.append(('mlp', KerasClassifier(build_fn=create_baseline, epochs=100, batch_size=5, verbose=0)))
pipeline = Pipeline(estimators)
kfold = StratifiedKFold(n_splits=10, shuffle=True)
results = cross_val_score(pipeline, X, y, cv=kfold)
print("Standardized: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

WARNING:tensorflow:From c:\programdata\miniconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

KeyboardInterrupt: